beautifulsoup4==4.7.1
dnspython==1.16.0
ipwhois==1.1.0
IPy==1.00
js2py==0.60
requests==2.21.0
shodan==1.11.1
termcolor==1.1.0
tqdm==4.31.1
git+git://github.com/VeNoMouS/cloudflare-scrape-js2py@master#cfscrape
